import Login from '../src/components/login';
import Home from '../src/components/home';

export const routerConfig = [
    {
        path:'/',
        component:Home,
        auth:true,
    },{
        path:'/home',
        component:Home,
        auth:true,
    },{
        path:'/login',
        component:Login,
    }
];